@page "/admin"
@using MetaBenchmark

@using MetaBenchmark.Components
@using MetaBenchmark
@using MetaBenchmark.Models
@using Newtonsoft.Json;

@inject HttpClient Http
@inject IJSRuntime js
@inject DataCache cache

<ExportModal />

<div class="container">
	<div class="row">
		<button class="btn btn-secondary col-auto ml-auto" @onclick="Export">Export</button>
	</div>
	<div class="row">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="nav-item"><a class="nav-link active" href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
			<li role="presentation" class="nav-item"><a class="nav-link" href="#benchmarks" aria-controls="benchmarks" role="tab" data-toggle="tab">Benchmarks</a></li>
			<li role="presentation" class="nav-item"><a class="nav-link" href="#benchmarkSources" aria-controls="benchmarkSources" role="tab" data-toggle="tab">Sources</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content p-0">
			<div role="tabpanel" class="tab-pane active" id="products">
				<ProductsAdmin />
			</div>
			<div role="tabpanel" class="tab-pane" id="benchmarks">
				<BenchmarksAdmin />
			</div>
			<div role="tabpanel" class="tab-pane" id="benchmarkSources">
				<BenchmarkSourcesAdmin />
			</div>		
		</div>
	</div>
</div>

@code {
	async Task Export()
	{
		await js.InvokeVoidAsync("ShowModal", "#ExportModal");
		return;
	}
}