@using System.Reflection
@inherits LayoutComponentBase
@inject IJSRuntime js

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main w-100">
        <div class="px-4 navbar navbar-dark">
            <a class="navbar-brand mr-auto" href="">MetaBenchmark</a>
            <div class="d-flex">
                <MetaBenchmark.Components.SearchComponent />
                @if (EditEnabled)
                {
                    <NavLink class="nav-link" href="admin">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                    </NavLink>
                }
                <NavLink class="btn btn-secondary d-flex mx-3" href="settings">
                    <div class="my-auto">
                        ⚙️
                    </div>
                </NavLink>
            </div>
            @*<LoginDisplay />*@
        </div>

        <div class="content px-sm-4">
            @Body
        </div>
    </div>
    <div class="debugFooter">
        @version
    </div>
</div>

@code {
    bool EditEnabled = false;
    string version;
    protected override async Task OnInitializedAsync()
    {
        //await js.InvokeVoidAsync("setupDb");
        //var settings = await Settings.Load(js);
        //EditEnabled = settings.EditModeEnabled;
        //Settings.SettingsUpdated += (settings) => { EditEnabled = settings.EditModeEnabled; this.StateHasChanged(); };
        version = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyDescriptionAttribute>()?.Description ?? "";
    }
}