@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <div class="top-row px-4 auth navbar navbar-dark">
            <a class="navbar-brand mr-auto" href="">MetaBenchmark</a>
            <div id="filterContainer"></div>
            <NavLink class="nav-link" href="admin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
            </NavLink>
            @*<LoginDisplay />*@
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
