@inherits LayoutComponentBase
@inject IJSRuntime js

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <div class="px-4 navbar navbar-dark">
            <a class="navbar-brand mr-auto" href="">MetaBenchmark</a>
            <div id="filterContainer" class="d-flex"></div>
            @if (EditEnabled)
            {
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                </NavLink>
            }
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
            @*<LoginDisplay />*@
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-sm-4">
            @Body
        </div>
    </div>
</div>

@code {
    bool EditEnabled = false;
    protected override async Task OnInitializedAsync()
    {
        var settings = await Settings.Load(js);
        EditEnabled = settings.EditModeEnabled;
    }
}