#filterCollapseButton {
    z-index: 100;
}

.product-btn {
    height: 3em;
    margin-left: 5px;
}

#benchmarkTypeFilter {
    appearance: auto;
}

.benchmark-wrapper:hover .product.card {
    background: #48525b;
}

@media (min-width:768px) {
    .source-logo-col {
        max-width: 200px;
        min-width: 200px;
    }

    .product-entry-col {
        max-width: 300px;
        /*min-width: 300px;*/
    }
}

@media (max-width: 992px) {
    #filterCollapseButton {
        width: 100%;
    }
}

.product-header h4 {
    cursor: pointer;
}

.benchmark-name {
    z-index: 2;
}

.compare-products .product {
    border-top: none;
}

.product-click-hint {
    padding-top: 1em;
    padding-right: 1em;
}

.product-header:hover .btn-remove {
    display: block;
}

.product-header .btn-remove {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    height: auto;
}

.benchmark-type-buttons .btn:not(.active) {
    color: #ffffff7F;
}



.content {
    background: #001d3d;
}