@using FuzzySharp
@using MetaBenchmark.Models
@using MetaBenchmark
@using MetaBenchmark.Services

@inject DataService data;
@inject NavigationManager nav;
@inject IJSRuntime js;

@if(AllProducts != null && AllProducts.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-last order-md-first">
                <div class="card">
                    <div class="card-header">
                        MetaBenchmark
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Contributing
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            @foreach(var brand in AllProducts.Where(p => !string.IsNullOrWhiteSpace(p.Brand)).Select(p => p.Brand).Distinct())
            {
                <div class="col-md">
                    @for(int i = 0; i < AllProducts.Count; i++)
                    {
                        if (AllProducts[i].Brand == brand)
                        {
                            <LandingItem Product="AllProducts[i]"/>
                        }
                    }
                </div>
            }
        </div>
    </div>
}


@code {

    List<Product> AllProducts = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        AllProducts = data.AllProducts();
    }

    void Selected(Product prod)
    {
        nav.NavigateTo($"product/{prod.Id}");
    }

    void Selected(Benchmark bench)
    {
        nav.NavigateTo($"benchmark/{bench.Id}");
    }

    string GetTextClass(BenchmarkEntry entry)
    {
        switch(entry.Benchmark.Type)
        {
            case Benchmark.BenchmarkType.FPS:
            case Benchmark.BenchmarkType.FPS_4K:
            case Benchmark.BenchmarkType.FPS_1440P:
            case Benchmark.BenchmarkType.FPS_1080P:
                return entry.Value switch
                {
                    > 100 => "text-success",
                    > 60  => "text-primary",
                    _     => "text-warning"
                };
        }

        return "";
    }
}
