<div class="modal fade" id="@Id" tabindex="-1" role="dialog" aria-labelledby="@(Id)Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if(BackButtonEnabled)
                {
                    <button class="modal-title btn btn-secondary mx-3" @onclick="() => OnBackButtonPressed?.Invoke()" aria-label="Back">
                        <span class="oi oi-chevron-left" aria-hidden="true"></span>
                    </button>
                }
                <h5 class="modal-title" id="@(Id)Title">@(Name)</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Id { get; set; }

    public bool BackButtonEnabled{ get; set; }
    public delegate void BackButtonPressed();
    public event BackButtonPressed? OnBackButtonPressed;
}