#filterCollapseButton {
    z-index: 100;
}

.product-btn {
    height: 3em;
    margin-left: 5px;
}

#benchmarkTypeFilter {
    appearance: auto;
}

.row:hover .product.card {
    background: #48525b;
}