@inject IJSRuntime js;

<div>
  <canvas id="myChart" height="150"></canvas>
</div>


@code {
    [Parameter]
    public string Id { get;  set; }

    [Parameter]
    public List<string> Labels{ get;  set; }

    [Parameter]
    public List<List<double>> Values{  get;  set; }

    [Parameter]
    public double MaxVal{ get; set; }

    [Parameter]
    public List<string> DatasetNames { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(Id))
        {
            await Task.Delay(100);
            await js.InvokeVoidAsync("SetupMultiChart", "myChart", Labels, Values, MaxVal, DatasetNames);
        }
    }

    bool ParametersSet() => !string.IsNullOrWhiteSpace(Id) &&
                            Labels != null &&
                            Values != null &&
                            Labels.Count != 0 &&
                            Labels.Count == Values.Count;
}
