.benchmark {
    border-bottom: solid 1px gray;
    /*padding: 1em;*/
}

.benchmark:last-child {
    border-bottom: none;
}


.benchmark img {
    max-width: 250px;
    width: 100%;
}

.container {
    background: #4e5d6c;
    padding: 1em;
}

.filter-col {
    border-right: 1px solid gray;
}

.filter-row {
    border-bottom: 1px solid gray;
}

#dropdownCompare::after {
    display:none;
}