.benchmark {
    border-bottom: solid 1px gray;
    /*padding: 1em;*/
}

.benchmark:last-child {
    border-bottom: none;
}

.benchmark img {
    max-width: 250px;
    width: 100%;
}

.container {
    background: #4e5d6c;
    padding: 1em;
}

.filter-col {
    border-right: 1px solid gray;
}

.filter-row {
    border-bottom: 1px solid gray;
}

#dropdownCompare::after {
    display: none;
}

.compare-button {
    border: solid 1px gray;
    border-radius: 3px;
}

.product-name.brand-Nvidia::before {
    background: url(/logos/nvidia.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    width: 50px;
}

.product-name.brand-AMD::before {
    background: url(/logos/amd.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    width: 50px;
}

.product-name::before {
    content: '';
    flex: 0 0 auto;
    margin-right: .5em;
    margin-left: .5em;
}

.product-click-hint {
    padding-top: .5em;
}